
     .text-custom-orange {
          color: #EDA827 !important;
        }
        .text-custom-white {
          color:azure ;
        }
 
     .bg-custom-blue{
        background-color:  #18A2DC;
     }
     li a:hover{
          color: #EDA827 !important;

     }


