/* 
.header{
  color:#9B680A
} */
.card{position:relative;
    width: 30%;}

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .5s ease;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.5); 

      }
      
    .overlay:hover{
        opacity: 1;
      }
      
      .overlay .text {
        color: rgba(1, 1, 1, 1);
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .overlay .text i{    
              color: #EDA827;
      }

      .overlay .text i:hover {
        color: #DC3139;
      }
