 
 
  <section>
    <h2 class="header d-flex justify-content-center fw-bolder fs-1 p-5 mt-5 pt-5">Donate Foundations</h2>

    <div class="container">


       <div class="row">
      
        <div class="card col-4 m-3 shadow">
          <div class="img w-100">
            <img src="/images/ahl masr burn hospitalk.jpg" height="250px" class="d-block w-100 border-light" alt="">
            <h4 class="m-3 fw-bolder">Ahl Masr Burn Hospital </h4>
            <div class="overlay">
              <div class="text">
                <button  class="btn btn-outline-danger d-block mb-3"  [routerLink]="'/ahlmasr'" >Donate Now</button>
                <i class="fa-solid fa-magnifying-glass"></i>          
              </div>
            </div>
          </div>
        </div>
        <div class="card col-4 m-3 shadow">
          <div class="img w-100">
            <img src="/images/alnas hospital.jpg" height="250px" class="d-block w-100 border-light" alt="">
            <h4 class="m-3 fw-bolder">Alnas Hospital </h4>
            <div class="overlay">
              <div class="text">
                <button  class="btn btn-outline-danger d-block mb-3"  [routerLink]="'/alnas'" >Donate Now</button>
                <i class="fa-solid fa-magnifying-glass"></i>          
              </div>
            </div>
          </div>
        </div>
        <div class="card col-4 m-3 shadow">
          <div class="img w-100">
            <img src="/images/baheya.jpg" height="250px" class="d-block w-100 border-light" alt="">
            <h4 class="m-3 fw-bolder">Baheya Foundation</h4>
            <div class="overlay">
              <div class="text">
                <button  class="btn btn-outline-danger d-block mb-3"  [routerLink]="'/baheya'" >Donate Now</button>
                <i class="fa-solid fa-magnifying-glass"></i>          
              </div>
            </div>
          </div>
        </div>
        <div class="card col-4 m-3 shadow">
          <div class="img w-100">
            <img src="/images/bait zakat and sadkat.jpg" height="250px" class="d-block w-100 border-light" alt="">
            <h4 class="m-3 fw-bolder">Biat Elzakat and Sadkat</h4>
            <div class="overlay">
              <div class="text">
                <button  class="btn btn-outline-danger d-block mb-3"  [routerLink]="'/zakat-sadkat'" >Donate Now</button>
                <i class="fa-solid fa-magnifying-glass"></i>          
              </div>
            </div>
          </div>
        </div>
        
        <div class="card col-4 m-3 shadow">
          <div class="img w-100">
            <img src="/images/cancer institude.jpg" height="250px" class="d-block w-100 border-light" alt="">
            <h4 class="m-3 fw-bolder">Cancer Institude </h4>
            <div class="overlay">
              <div class="text">
                <button  class="btn btn-outline-danger d-block mb-3"  [routerLink]="'/cancerI'" >Donate Now</button>
                <i class="fa-solid fa-magnifying-glass"></i>          
              </div>
            </div>
          </div>
        </div>
        
        <div class="card col-4 m-3 shadow">
          <div class="img w-100">
            <img src="/images/egption food bank.jpg" height="250px" class="d-block w-100 border-light" alt="">
            <h4 class="m-3 fw-bolder">Egyptian Food Bank</h4>
            <div class="overlay">
              <div class="text">
                <button  class="btn btn-outline-danger d-block mb-3"  [routerLink]="'/foodbank'" >Donate Now</button>
                <i class="fa-solid fa-magnifying-glass"></i>          
              </div>
            </div>
          </div>
        </div>
        
        <div class="card col-4 m-3 shadow">
          <div class="img w-100">
            <img src="/images/magdy yagoub.jpg" height="250px" class="d-block w-100 border-light" alt="">
            <h4 class="m-3 fw-bolder">Magdy Yacoub Foundation </h4>
            <div class="overlay">
              <div class="text">
                <button  class="btn btn-outline-danger d-block mb-3"  [routerLink]="'/magdy-yacoub'" >Donate Now</button>
                <i class="fa-solid fa-magnifying-glass"></i>          
              </div>
            </div>
          </div>
        </div>
        
        <div class="card col-4 m-3 shadow">
          <div class="img w-100">
            <img src="/images/elorman assicotion.jpg" height="250px" class="d-block w-100 border-light" alt="">
            <h4 class="m-3 fw-bolder">Alorman Assicotion </h4>
            <div class="overlay">
              <div class="text">
                <button  class="btn btn-outline-danger d-block mb-3"  [routerLink]="'/alorman'" >Donate Now</button>
                <i class="fa-solid fa-magnifying-glass"></i>          
              </div>
            </div>
          </div>
        </div>
        
        <div class="card col-4 m-3 shadow">
          <div class="img w-100">
            <img src="/images/hayah karima.png" height="250px" class="d-block w-100 border-light" alt="">
            <h4 class="m-3 fw-bolder">Hayah Karima  </h4>
            <div class="overlay">
              <div class="text">
                <button  class="btn btn-outline-danger d-block mb-3"  [routerLink]="'/hayahkarema'" >Donate Now</button>
                <i class="fa-solid fa-magnifying-glass"></i>          
              </div>
            </div>
          </div>
        </div>
        
        
        </div>
       

    </div>
  


 
  
  </section>
 
 
 
