
   <div class="image">
      <div class="rgba">
    
       <div class="container m-5">
           <div class="row m-5">
            <div class="col-3 m-5">
               <h5 class="m-4  text-light">About</h5>
               <ul>
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >brief about the foundation</a></li>
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >mission & vision </a></li>
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >message from MAGDI YACOUB</a></li>
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >board of trustees</a></li>
                
                </ul>
            </div>
            <div class="col-3 m-5">
               <h5 class="m-4  text-light">Centers</h5>
               <ul  >
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >aswan  centre </a></li>
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >aswan research centre</a></li>
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >Magdi Yacoub Global Heart Centre</a></li>
                
                </ul>
            </div>
            <div class="col-3 m-5">
               <h5 class="m-4 text-light">Quick Links
               </h5>
               <ul  >
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >how to donate</a></li>
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >Zakat calculator </a></li>
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >Magdi Yacoub golbal heart centere</a></li>
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >contact us</a></li>
                  <li><a class="detail mt-5 mb-5 pt-5 pb-5 text-white text-decoration-none" >privacy policy </a></li>
                
                </ul>
            </div>
           </div>
       </div>
      </div>
   </div>

  <footer id="footer">
     <p>copyright &copy; 2025 All rights reserved | made by <b><a href="https://karam.com" target="_blank"> karam</a></b></p>
  </footer>
 
